<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:x="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <command name="mikerobbins:replacetokens" type="MikeRobbins.TokenCommands.ReplaceTokensCommand,MikeRobbins.TokenCommands"/>
    </commands>
  </sitecore>
</configuration>